body {
    min-width: 1140px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

/* Main Header */

.main-header {
    padding-bottom: 59px;
    background-color: #f3f7f8;
}

.main-header__container {
    background-color: #293449;
}

.main-header__container .container {
    display: flex;
    justify-content: space-between;
}

.main-header__logo {
    position: absolute;
    font-size: 24px;
    display: flex;
    width: 220px;
    height: 47px;
    background-color: #ee3643;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #b52933;
    text-transform: uppercase;
    box-sizing: border-box;
}

.main-header__logo-active:hover {
    background-color: #d5313c;
    border-bottom-color: #9a212a;
}

.main-header__logo-active:active {
    background-color: #be2c36;
    border-bottom-color: #9a212a;
}

.search-form {
    position: relative;
    margin-left: 220px;
}

.search-form:hover {
    background-color: #212a3a;
}

.search-form input {
    width: 270px;
    height: 43px;
    padding: 0 10px 0 49px;
    color: #f0f1f2;
    background-color: transparent;
    border: 0;
}

.search-form input::placeholder {
    color: #f0f1f2;
}

input[type=search]:focus {
    background-color: #ffffff;
    color: #111111;
}

input[type=search]:focus::placeholder{
    color: #111111;
}

.search-form label {
    position: absolute;
    top: 12px;
    left: 17px;
}

input[type=search]:hover + label path {
    fill: #ffffff;
}

input[type=search]:focus + label path {
    fill: #f0525d;
}

.menu-list{
    display: flex;
}

.main-header .menu-item {
    position: relative;
    width: 150px;
    text-align: center;
}

.menu-list a {
    display: block;
    color: #ffffff;
}

.menu-list a:not(.green) {
    padding: 12px 0 12px 17px;
}

.menu-list a:hover:not(.green) {
    background-color: #212a3a;
}

.menu-list a:active:not(.green) {
    background-color: #161d29;
    color: #999ca1;
}

.menu-item svg {
    position: absolute;
    left: 17px;
    top: 12px;
}

.menu-item a:hover + svg path,
.menu-item a:hover + svg circle {
    fill: #ffffff;
}

.menu-item a:active + svg path,
.menu-item a:active + svg circle {
    fill: #6a7180;
}

.menu-item:last-child {
    background-color: #63a63e;
}

.menu-item:hover:last-child {
    background-color: #5fbb2d;
}

.menu-item:active:last-child {
    background-color: #518534; 
}

.menu-item .green {
    padding: 12px 0;
}

.menu-item .basket-active {
    background-color: #ee3643;
    box-sizing: border-box;
}

.menu-item .basket-active:not(.green):hover {
    background-color: red;
}

.basket-svg path,
.basket-svg circle{
    fill: #f3737c;
}

/* Company info */

.company-info {
    margin-top: 45px;
}

.company-info .container {
    display: flex;
    justify-content: space-between;
}

.company-info .description {
    width: 205px;
    margin: 3px 0 0 53px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.contacts {
    width: 300px;
}

.contacts .phone {
    position: relative;
    width: 265px;
    margin: 0 0 0 12px;
    padding: 10px 0;
    border: 3px solid #ffffff;
}

.contacts .phone-number {
    margin-left: 71px;
    font-size: 21px;
    line-height: 18px;
    color: #ee3643;
}

.contacts .phone-number:hover {
    text-decoration: underline;
}

.contacts .phone-number:active {
    text-decoration: none;
    color: #ba2732;
}

.contacts .phone-number::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    width: 19px;
    height: 19px;
    background-image: url(../img/svg/icon-phone.svg);
}

.contacts .addres {
    margin: 3px 0 0 22px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c
}

.authorisation {
    margin: 2px 0 0;
    display: flex;
}

.authorisation-passed {
    display: none;
}

.authorisation a {
    display: block;
    font-size: 21px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
}

.authorisation a:hover {
    color: #ee3643;
}

.authorisation a:active {
    color: #b2b2b2;
}

.authorisation .login {
    position: relative;
    padding: 11px 27px 11px 48px;
    margin-right: 9px;
    align-self: flex-start;
}

.login svg {
    position: absolute;
    left: 15px;
}

.login:hover path {
    fill: #32425c;
}

.authorisation .registration {
    padding: 11px 24px;
    align-self: flex-start;
}

.user-info {
    position: relative;
    margin: 0;
    padding: 15px 68px 13px 47px;
    background-color: #ffffff;
    align-self: flex-start;
}

.user-profile svg {
    position: absolute;
    left: 13px;
}

.user-profile span {
    display: block;
    font-size: 21px;
    line-height: 18px;
    color: #000000;
}

.user-profile span:active {
    color: #c5c5c5;
}

.user-deauthorisation svg {
    position: absolute;
    top: 14px;
    right: 10px;
}

.user-profile:hover path,
.user-deauthorisation:hover path,
.user-deauthorisation:hover polygon {
    fill: #32425c;
}

.user-profile:active path,
.user-deauthorisation:active path,
.user-deauthorisation:active polygon {
    fill: #c5c5c5;
}

.user-authorisation .user-details {
    margin: 7px 0 0 18px;
}

.user-details a {
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}

.user-details a:first-child {
    margin-right: 28px;
    position: relative;
}

.user-details a:hover {
    color: #ee3643;
}

.user-details a:active {
    color: #c5cad0;
}

.user-details a:first-child::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 8px;
    left: 90px;
    background-color: #32425c;
    border-radius: 50%;
}

/* Main menu */

.main-menu {
    margin-top: 39px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    padding: 0 22px;
}

.main-nav li{
    flex-grow: 1;
    text-align: center;
}

.main-nav a {
    display: block;
    padding: 20px 25px;
    color: #ffffff;
    line-height: 17px;
}

.main-nav .active,
.main-nav .active:hover,
.main-nav a:active {
    background-color: #1d2739;
    color: #868c95;
}

.main-nav a:hover {
    background-color: #293449;
}

/* Breadcrumbs */

.breadcrumbs-list {
    margin-top: 10px;
    width: 358px;
    display: flex;
}

.breadcrumbs-item a {
    position: relative;
    display: block;
    padding-right: 27px;
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumbs-item a:hover {
    color: #ee3643;
    text-decoration: underline;
}

.breadcrumbs-item a:active {
    color: #cacaca;
}

.breadcrumbs-item:first-child a {
    margin-right: 13px;
}

.breadcrumbs-item:nth-child(2) a {
    margin-right: 13px;
}

.breadcrumbs-item:nth-child(3) a {
    margin-right: 17px;
}

.breadcrumbs-item:last-child a {
    padding-right: 0;
}

.breadcrumbs-item:not(:last-child) a::after {
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #c1c6ce;
    border-top-style: none;
    border-left-style: none;
    transform: rotate(-45deg);
    position: absolute;
    top: 5px;
    left: 26px;
}

.breadcrumbs-item:nth-child(2) a::after {
    left: 66px;
}

.breadcrumbs-item:nth-child(3) a::after {
    left: 105px;
}

.breadcrumbs-item:first-child:hover path,
.breadcrumbs-item:first-child:hover polygon {
    fill: #32425c;
}

.breadcrumbs-item:first-child:active path,
.breadcrumbs-item:first-child:active polygon {
    fill: #c5c5c5;
}

main h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    padding: 30px 0 31px 28px;
    margin: 21px 0 0;
    background-color: #f2f6f8;
}

/* Products */

.products-and-offers {
    margin-top: 58px;
}

.products-list {
    display: flex;
    justify-content: space-between;
}

.products-list .products-item,
.offers-item {
    position: relative;
    width: 300px;
    box-sizing: border-box;
    min-height: 93px;
    padding: 21px 23px;
}

.products-item h3,
.offers-item h3 {
    margin: 0 0 14px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.products-item a,
.offers-item a {
    padding: 10px 0;
    display: block;
    width: 136px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
}

.products-list .products-item:first-child {
    background-color: #ffbf47;
}

.products-item:first-child a {
    background-color: rgba(189, 125, 0, 0.2);
}

.products-item:first-child a:hover {
    background-color: rgba(189, 125, 0, 0.3);
}

.products-item:first-child a:active {
    background-color: rgba(189, 125, 0, 0.4);
}

.products-item:first-child::before {
    content: '';
    position: absolute;
    left: 212px;
    top: 31px;
    width: 44px;
    height: 65px;
    background-image: url(../img/svg/icon-1.svg);
}

.products-item:first-child::after {
    content: '';
    position: absolute;
    left: 240px;
    top: 0;
    width: 60px;
    height: 60px;
    background-image: url(../img/new-products.png);
    background-repeat: no-repeat;
}

.products-list .products-item:nth-child(2) {
    background-color: #3bbce3;
}

.products-item:nth-child(2) a {
    background-color: rgba(42, 131, 158, 0.2);
}

.products-item:nth-child(2) a:hover {
    background-color: rgba(42, 131, 158, 0.3);
}

.products-item:nth-child(2) a:active {
    background-color: rgba(42, 131, 158, 0.4);
}

.products-item:nth-child(2)::before {
    content: '';
    position: absolute;
    left: 196px;
    top: 32px;
    width: 75px;
    height: 61px;
    background-image: url(../img/svg/icon-2.svg);
}

.products-list .products-item:last-child {
    background-color: #dc91d8;
}

.products-item:last-child a {
    background-color: rgba(161, 111, 158, 0.2);
}

.products-item:last-child a:hover {
    background-color: rgba(161, 111, 158, 0.3);
}

.products-item:last-child a:active {
    background-color: rgba(161, 111, 158, 0.4);
}

.products-item:last-child::before {
    content: '';
    position: absolute;
    left: 190px;
    top: 30px;
    width: 78px;
    height: 62px;
    background-image: url(../img/svg/icon-3.svg);
}

.offers {
    margin-top: 20px;
}

.offers .container {
    display: flex;
    justify-content: space-between;
}

.offers-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offers-item:first-child {
    background-color: #8ed78f;
}

.offers-item:first-child a {
    background-color: rgba(113, 159, 113, 0.2);
}

.offers-item:first-child a:hover {
    background-color: rgba(113, 159, 113, 0.3);
}

.offers-item:first-child a:active {
    background-color: rgba(113, 159, 113, 0.4);
}

.offers-item:first-child::before {
    content: '';
    position: absolute;
    top: 26px;
    right: 45px;
    width: 59px;
    height: 72px;
    background-image: url(../img/svg/icon-4.svg);
    background-repeat: no-repeat;
}

.offers-item:last-child {
    background-color: #ffc047;
}

.offers-item:last-child a {
    background-color: rgba(175, 132, 50, 0.2)
}

.offers-item:last-child a:hover {
    background-color: rgba(175, 132, 50, 0.3)
}

.offers-item:last-child a:active {
    background-color: rgba(175, 132, 50, 0.4)
}

.offers-item:last-child::before {
    content: '';
    position: absolute;
    top: 33px;
    right: 29px;
    width: 80px;
    height: 64px;
    background-image: url(../img/svg/icon-5.svg);
    background-repeat: no-repeat;
}

.slider {
    width: 620px;
    position: relative;
}

.slider-controls {
    position: absolute;
    top: 215px;
    left: 295px;
}

.slider-controls label {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

#slide-1:checked ~ .slider-controls .slider-controls__point-1::after,
#slide-2:checked ~ .slider-controls .slider-controls__point-2::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 6px;
    height: 6px;
    background-color: #ee3643;
    border-radius: 50%;
}

.slider-controls__arrow label {
    position: absolute;
    display: inline-block;
    top: 120px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 10px;
}

.slider-controls__arrow label::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
}

.slider-controls__arrow label:first-child {
    left: 21px;
}

.slider-controls__arrow label:first-child::before {
    border-top-style: none;
    border-right-style: none;
}

.slider-controls__arrow label:last-child {
    right: 13px;
}

.slider-controls__arrow label:last-child::before {
    border-left-style: none;
    border-bottom-style: none;
}

.slider-item {
    display: none;
    width: 620px;
    min-height: 266px;
    color: #ffffff;
}

.slider-item:first-child {
    background-image: url(../img/slider-bg-1.jpg);
    background-repeat: no-repeat;
}

.slider-item:last-child {
    background-image: url(../img/slider-bg-2.jpg);
    background-repeat: no-repeat;
}

#slide-1:checked ~ .slider-list .slider-item:first-child,
#slide-2:checked ~ .slider-list .slider-item:last-child {
    display: block;
}

.slider-item .description {
    padding: 26px 25px 22px;
}

.slider-item h2 {
    margin: 0;
    font-size: 36px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-item p {
    margin: 3px 0 0;
    font-size: 18px;
    line-height: 24px;
}

.slider-item a {
    display: block;
    margin-top: 102px;
    margin-left: 26px;
    padding: 10px 0;
    width: 195px;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
    text-align: center;
    border-radius: 3px;
    text-transform: uppercase;
}

/* Popular product */

.popular-products {
    margin-top: 54px;
}

.popular-products__header,
.popular-manufacturers__header {
    padding: 28px;
    display: flex;
    justify-content: space-between;
    background-color: #f9f5f0;
}

.popular-products__header h2,
.popular-manufacturers__header h2{
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: 400;
}

.popular-products__header a,
.popular-manufacturers__header a {
    width: 253px;
    margin: -4px -4px 0 0;
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    text-transform: uppercase;
}

.popular-products__header a:hover,
.popular-manufacturers__header a:hover {
    background-color: #ca2c37;
}

.popular-products__header a:active,
.popular-manufacturers__header a:active {
    background-color: #ba2732;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 17px;
}

.popular-products .popular-item {
    position: relative;
    min-height: 318px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 220px;
    font-family: "PT Sans", Arial, sans-serif;
    text-align: center;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
}

.popular-item.new {
    background-image: url(../img/new-products.png);
    background-repeat: no-repeat;
    background-position: 160px 0;
}

.popular-item:hover {
    box-shadow: 0 5px 20px 0 #bec2c6;
}

.popular-item__img {
    position: relative;
    width: 220px;
    height: 167px;
    margin: 0;
}

.popular-item h3 {
    margin: 12px 0 0;
    padding: 0 30px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}

.popular-item span {
    display: block;
    margin-top: 12px;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.popular-item .price {
    position: relative;
    width: 123px;
    margin-top: auto;
    margin-left: 42px;
    padding: 10px 0 10px 13px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.popular-item .price::before {
    content: '';
    position: absolute;
    top: 0;
    left: 122px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 19px 0 19px 20px;
    border-color: transparent transparent transparent #ee3643;
}

.popular-item:hover img {
    opacity: 0;
    transition: 0.2s ease-out;
}

.popular-item:hover .item-buttons {
    opacity: 1;
    transition: 0.2s ease-out;
}

.item-buttons {
    position: absolute;
    top: 43px;
    margin: 0;
    opacity: 0;
}

.item-buttons button {
    width: 135px;
    font-size: 14px;
    padding: 0;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.item-buttons .button-buy {
    position: relative;
    padding: 11px 0;
    margin-bottom: 7px;
    color: #ffffff;
    background-color: #63a63e;
    box-shadow: inset 0 -3px 0 0 #367315;
    border: none;
}

.item-buttons .button-buy:hover {
    background-color: #5fbb2d;
}

.item-buttons .button-buy:active {
    background-color: #518534;
    box-shadow: none
}

.button-buy svg {
    position: absolute;
    left: 12px;
}

.button-buy:hover svg path,
.button-buy:hover svg circle,
.button-buy:active svg path,
.button-buy:active svg circle {
    fill: #ffffff;
}

.item-buttons .button-bookmarks {
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    padding: 9px 0;
}

.item-buttons .button-bookmarks:hover {
    border-color: #32425c;
}

.item-buttons .button-bookmarks:active {
    color: #c1c6ce;
    border-color: #c1c6ce;
}

/* Popular manufacturers */

.popular-manufacturers {
    margin-top: 22px;
}

.popular-manufacturers__header {
    margin-bottom: 18px;
}

.manufacturers-list {
    display: flex;
    flex-wrap: wrap;
}

.manufacturers-item {
    width: 220px;
    min-height: 145px;
    margin-bottom: 17px;
}

.manufacturers-item:hover {
    box-shadow: 0 5px 20px 0 #bec2c6;
    z-index: 1;
}

.manufacturers-item:not(:nth-child(4n+4)) {
    margin-right: 20px;
}

/* Services */

.services {
    margin-top: 63px;
    padding-top: 68px;
    background-color: #f4f8f9;
}

.services h2,
.services p {
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.services h2 {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
}

.services p {
    margin: 29px 0 0;
    width: 400px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
}

.services-slider {
    margin-top: 66px;
    display: flex;
}

.services-control {
    position: relative;
    width: 240px;
}

.services-control__item {
    display: block;
    font-size: 21px;
    font-weight: 700;
    padding: 20px 22px 19px;
    background-color: #32425c;
    box-shadow: 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
    cursor: pointer;
}

.services-control__item:hover {
    background-color: #293449;
}

.services-control::after {
    content: '';
    position: absolute;
    top: -35px;
    left: 230px;
    width: 10px;
    height: 272px;
    background-image: url(../img/slider-border.png);
}

#delivery:checked~.services-control .services-control__delivery,
#guarantee:checked~.services-control .services-control__guarantee,
#credit:checked~.services-control .services-control__credit {
    background-color: #ffffff;
    color: #32425c;
    box-shadow: none;
    transition-duration: 0.2s;
}

.services-screen {
    margin-left: 81px;
}

.services-item {
    position: relative;
    display: none;
    width: 620px;
    min-height: 279px;
}

.services-item:first-child {
    background-image: url('../img/slider-delivery.png');
    background-repeat: no-repeat;
    background-position: 152px 18px;
}

.services-item:nth-child(2) {
    background-image: url('../img/slider-guarantee.png');
    background-repeat: no-repeat;
    background-position: 233px 7px;
}

.services-item:last-child {
    background-image: url('../img/slider-credit.png');
    background-repeat: no-repeat;
    background-position: 154px -6px;
}

#delivery:checked~.services-screen .services-item:first-child,
#guarantee:checked~.services-screen .services-item:nth-child(2),
#credit:checked~.services-screen .services-item:last-child {
    display: block;
}

.services-item .services-container {
    margin-top: 8px;
}

.services-item h2 {
    font-size: 36px;
    line-height: 24px;
    color: #32425c;
}

.services-item button {
    width: 195px;
    padding: 10px 0;
    margin-top: 28px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ff5357;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.services-item button:hover {
    background-color: #ca2c37;
}

.services-item button:active {
    background-color: #ba2732;
}

/* About company */

.about-company {
    margin-top: 82px;
    padding-bottom: 86px;
}

.about-company .container {
    display: flex;
    justify-content: space-between;
}

.company-descript {
    width: 545px;
}

.about-company h2 {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
}

.about-company .paragraph {
    margin: 29px 0 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.about-company .paragraph:nth-child(3) {
    margin-top: 24px;
}

.companies-list {
    margin-top: 20px;
}

.companies-list .companies-item {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    padding-left: 37px;
}

.companies-list .companies-item:not(:last-child) {
    margin-bottom: 20px;
}

.companies-list .companies-item::before {
    content: '';
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    position: absolute;
    top: 10px;
    left: 0;
}

.about-company .more-detailed {
    display: block;
    width: 220px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin-top: 37px;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.about-company .more-detailed:hover {
    background-color: #ca2c37;
}

.about-company .more-detailed:active {
    background-color: #ba2732;
}

.contacts .map {
    padding: 0;
    margin-top: 32px;
    border: 0;
    background: 0 0;
    cursor: pointer;
}

.contacts .write-us {
    font-family: "Cuprum",Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0;
    margin-top: 36px;
    width: 300px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}

.contacts .write-us:hover {
    background-color: #ca2c37;
}

.contacts .write-us:active {
    background-color: #ba2732;
}

/* Product catalog */

.product-catalog {
    margin-top: 20px;
}

.product-catalog .container {
    display: flex;
    justify-content: space-between;
}

/* Filter */

.filter {
    font-family: "PT Sans",Arial,sans-serif;
    width: 220px;
    color: #000000;
}

.filter h2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
    padding: 8px 0 10px 19px;
    background-color: #f7f3ec;
    border-radius: 3px;
    text-transform: uppercase;
}

.filter-form fieldset {
    padding: 0 0 26px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.filter-form legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-form fieldset:first-of-type {
    margin-top: 11px;
}

.filter-form .price {
    margin-bottom: 16px;
}

.filter-form .range {
    position: relative;
    padding: 38px 20px;
    background-color: #f7f3ec;
}

.range p {
    margin: 0;
}

.range .line {
    width: 180px;
    height: 2px;
    background-color: #d7dcde;
}

.range .line-green {
    position: absolute;
    width: 140px;
    height: 2px;
    top: 38px;
    background-color: #00ca74;
}

.range-left img,
.range-right img {
    position: absolute;
    top: 29px;
    left: 20px;
    cursor: pointer;
}

.range-right img {
    left: 140px;
}

.filter-form .cost {
    position: relative;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.cost p {
    margin-top: 0;
}

.cost input {
    width: 75px;
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
    border: 0;
    border-radius: 3px;
    padding: 10px;
}

.filter-form .cost::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 1px;
    top: 20px;
    left: 105px;
    background-color: #444444;
}

.filter-form fieldset:nth-of-type(2) {
    margin-top: 16px;
    padding-bottom: 22px;
}

.filter-form .manufac-list {
    margin-top: 14px;
}

.manufac-item label {
    position: relative;
    line-height: 20px;
    padding-left: 34px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
}

.manufac-item:not(:last-child) label {
    display: block;
    margin-bottom: 20px;
}

.manufac-item label::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    top: -2px;
    left: -1px;
    border: 2px solid #c5c5c5;
    border-radius: 3px;
}

.filter-checkbox:checked + label::after {
    content: '';
    position: absolute;
    width: 27px;
    height: 23px;
    top: -2px;
    left: -1px;
    background-image: url(../img/svg/checkbox-on.svg);
    background-repeat: no-repeat;
}

.manufac-item label:hover::before {
    border-color: #b5b5b5;
}

.filter-form fieldset:nth-of-type(3) {
    margin-top: 18px;
}

.filter-form .nutrition-list {
    margin-top: 12px;
}

.nutrition-item label {
    position: relative;
    padding-left: 34px;    
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.nutrition-item:not(:last-child) label {
    display: block;
    margin-bottom: 20px;
}

.nutrition-list label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: -2px;
    left: 0;
    border: 5px solid #c5c5c5;
    border-radius: 50%;
}

.filter-radio:checked + label::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 6px;
    left: 8px;
    background-color: #c5c5c5;
    border-radius: 50%;
}

.filter-form button {
    width: 140px;
    margin-top: 52px;
    padding: 9px 0;
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.filter-form button:hover {
    border-color: #bdc6ca;
}

.filter-form button:active {
    outline-color: #ee3643;
}

/* Our products */

.product-catalog .our-products {
    width: 700px;
    font-weight: 400;
    color: #000000;
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.our-products .sort {
    display: flex;
    justify-content: space-between;
    padding: 8px 17px 11px 19px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.sort .sort-name {
    margin: 0 95px 0 0;
    font-weight: 400;
    text-transform: uppercase;
}

.sort .sort-list {
    display: flex;
    justify-content: space-between;
    width: 355px;
}

.sort-item a {
    color: #cacaca;
    border-bottom: 1px dashed #ee3643;
    text-transform: uppercase;
}

.sort-item .active {
    color: #ee3643;
    border-bottom: none;
}

.sort-item a:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-item a:active {
    color: #ee3643;
    border-bottom: none;
}

.sort .sort-buttons {
    width: 43px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-buttons .button-up,
.sort-buttons .button-down {
    width: 0;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 0 6px 10px;
    border-color: transparent transparent #c5c5c5;
    cursor: pointer;
}

.sort-buttons .button-down {
    transform: rotate(180deg);
}

.sort-buttons .button-up:hover,
.sort-buttons .button-down:hover {
    border-color: transparent transparent #231f20;
}

.sort-buttons .button-up:active,
.sort-buttons .button-down:active {
    border-color: transparent transparent #ee3643;
}

.sort-buttons .active {
    border-color: transparent transparent #ee3643;
}

.our-products .popular-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.our-products .popular-item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 220px;
    font-family: "PT Sans",Arial,sans-serif;
    text-align: center;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    padding-bottom: 25px;
    margin-bottom: 20px;
    min-height: 316px;
}

.our-products .popular-item:not(:nth-child(3n+3)) {
    margin-right: 17px;
}

/* About product */

.about-product {
    margin-top: 60px;
    padding-top: 62px;
    padding-bottom: 69px;
    color: #000000;
    background-color: #f2f6f8;
}

.about-product h2 {
    margin: 0;
    font-size: 30px;
    letter-spacing: -0.5px
}

.about-product p {
    margin: 0;
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about-product .first-paragraph {
    margin-top: 23px;
}

/* Footer */

.top-footer__container {
    background-color: #32425c;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.main-footer__logo {
    font-size: 30px;
    display: flex;
    width: 220px;
    height: 68px;
    background-color: #ee3643;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #b52933;
    text-transform: uppercase;
    box-sizing: border-box;
}

.main-footer__logo-active:hover {
    background-color: #d5313c;
    border-bottom-color: #9a212a;
}

.main-footer__logo-active:active {
    background-color: #be2c36;
    border-bottom-color: #9a212a;
}

.footer-menu__list,
.footer-submenu__list,
.footer-submenu {
    display: flex;
    justify-content: space-between;
}

.footer-menu__list {
    width: 548px;
    margin-top: 37px;
}

.footer-menu__item a,
.footer-submenu__item a{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.footer-menu__item a:hover,
.footer-submenu__item a:hover {
    text-decoration: underline;
}

.footer-menu__item a:active {
    color: #a4abb4;
    text-decoration: none;
}

.footer-submenu {
    margin-top: 27px;
    padding-bottom: 50px;
}

.footer-submenu .contacts {
    width: 335px;
    margin: 0;
    padding-left: 3px;
    font-size: 18px;
    line-height: 24px;
}

.footer-submenu .contacts a {
    color: #ffffff;
}

.footer-submenu .contacts a:hover {
    text-decoration: underline;
}

.footer-submenu .contacts a:active {
    color: #a4abb4;
    text-decoration: none;
}

.footer-submenu__list {
    width: 525px;
}

.footer-submenu__item a{
    color: #ffd180;
}

.footer-submenu__item a:active {
    color: #ad956f;
    text-decoration: none;
}

.bottom-footer__conainer {
    padding-top: 36px;
    padding-bottom: 30px;
    background-color: #293449;
}

.bottom-footer__conainer .container {
    display: flex;
    justify-content: space-between;
}

.bottom-footer__conainer .copyright {
    width: 230px;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}

.social-list {
    min-width: 170px;
    display: flex;
    justify-content: flex-end;
}

.social-item:not(:last-child) {
    margin-right: 4px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background-color: #212a3a;
    border-radius: 50%;
    margin-top: -3px;
}

.social-icon:hover {
    background-color: #ee3643;
}

.social-icon:active {
    background-color: #ca2c37;
}

.feedback {
    width: 300px;
    display: flex;
    font-size: 16px;
    line-height: 18px;
}

.feedback-email {
    margin: 0 52px 0 0;
}

.feedback-site {
    margin: 0;
}

.feedback a {
    color: #f5c97d;
}

.feedback a:hover {
    text-decoration: underline;
}

.feedback a:active {
    color: #e53643;
    text-decoration: none;
}

/* Modal form */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    margin-top: -225px;
    margin-left: -310px;
    padding-top: 46px;
    border-top: 7px solid #ee3643;
    background-color: #ffffff;
    box-shadow: 0 0 25px 5px #b8b8b8;
    box-sizing: border-box;
    animation: appearance 0.7s ease-out;
}

.contact-form .form-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

.contact-form p {
    margin: 0;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}

.contact-form input,
.contact-form textarea {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 2px solid #999999;
    border-radius: 3px;
}

.contact-form input {
    width: 186px;
    padding: 7px 15px;
}

.contact-form textarea {
    width: 428px;
    height: 87px;
    padding: 8px 14px 14px;
    resize: none;
}

.contact-form .form-message {
    margin-top: 22px;
}

.contact-form .form-buttons {
    min-height: 38px;
    margin-top: 35px;
    padding: 36px 80px 37px;
    background-color: #f4f4f4;
}

.contact-form button[type=submit] {
    width: 100%;
    padding: 10px 0;
    background-color: #ee3643;
    font-family: "Cuprum",Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form button[type=submit]:hover {
    background-color: #ca2c37;
}

.contact-form button[type=submit]:active {
    background-color: #ba2732;
}

/* Modal buy */

.modal-buy {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    margin-left: -310px;
    margin-top: -140px;
    background-color: #ffffff;
    border-top: 7px solid #ee3643;
    box-shadow: 0 15px 32px 0 #cccccc;
    animation: appearance 0.7s ease-out;
}

.modal-buy .buy-popup {
    position: relative;
}

.modal-buy .heading-notifications {
    display: flex;
    padding: 45px 80px;
}

.modal-buy h2 {
    margin: 0;
    margin-left: 30px;
    font-size: 30px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #000000;
    align-self: center;
}

.modal-buy .buy-buttons {
    display: flex;
    justify-content: space-between;
    padding: 38px 80px;
    background-color: #f1f1f1;
}

.buy-buttons a,
.buy-buttons .continue-buy {
    display: block;
    width: 220px;
    padding: 10px 0 8px;
    text-align: center;
    font-family: "Cuprum",Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4px;
    text-transform: uppercase;
}

.buy-buttons a {
    color: #ffffff;
    background-color: #ee3643;
}

.buy-buttons a:hover {
    background-color: #ca2c37;
}

.buy-buttons a:active {
    background-color: #ba2732;
}

.buy-buttons .continue-buy {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.buy-buttons .continue-buy:hover {
    background-color: #fbf9f9;
}

.buy-buttons .continue-buy:active {
    background-color: #ebe9e9;
}

/* Modal map */

.modal-map {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.map-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 940px;
    height: 445px;
    margin-top: -225px;
    margin-left: -470px;
    background-image: url(../img/map-big.jpg);
    background-repeat: no-repeat;
    box-shadow: 0 0 25px 5px #b8b8b8;
    animation: appearance 0.7s ease-out;
}

.button-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.button-close::before,
.button-close::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    top: 12px;
    left: 2px;
    background-color: #ee3643;
}

.button-close::before {
    transform: rotate(45deg);
}

.button-close::after {
    transform: rotate(-45deg);
}

.modal-show {
    display: block;
}

/* Animation */

@keyframes appearance {
    0% {
        transform: translateY(-800px);
    }

    100% {
        transform: translateY(0px);
    }
}